# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Dokumente\1_Studium_0-Bachelorarbeit\MavenLauncher_Aenderungen_feststellen\MavenLauncher_Anwendung\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
