# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Dokumente\1_Studium_0-Bachelorarbeit\MavenLauncher_Aenderungen_feststellen\Test_Projekte\Calculator_neu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
